{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
	<link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;600&display=swap' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css' %}">
   <script src="https://use.fontawesome.com/00c0189130.js"></script>
</head>
<body>
	<section style="background-image:url({% static 'images/005.jpg'%})">
	 <section class="features2">
      <h1>About</h1>
    </section>
	<section class="rect">
		<h1  class="under" style="font-size: 40px;">attendance</h1>
		<h1 style="color: black;">ONLINE ATTENDANCE SYSTEM</h1>
		<p> This WEbsite is basically used for Online Attendance for every students in a class. Every lectures Attandance shows at any time.
			if you are interested to how to work the website then click below.
		</p>
		<a href="register" class="hero3-btn">Join now</a>
	<div class="icons">

		<a href=""><i class="fa fa-github-square" style="color:black;"></i></a>
		<a href=""><i style="color:#2867b2;;" class="fa fa-linkedin"></i></a>
		<a href=""><i class="fa fa-envelope-o" style="color:red"></i></a>

	</div>
	</section>
</section>
</body>
</html>